form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    width:35vw;
    margin:0 auto;
  }

  
  .output {
    margin-top: 20px;
    font-size: 24px;
    margin: 10px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    form {
      flex-direction: column;
    }
  }
  